.icono {
    position: relative;
  }
  .icono .fas {
    position: absolute;
    padding: 12px 17px;
    pointer-events: none;
    display: block;
    transition: all linear 0.5s;
  }
.sidebar{
    height: 100vh;
}
.sidebar-footer{
    position: absolute;
    
}

.contenido-principal{
    position: absolute;
    width: calc(100% - 270px);
    right: 0;
    top: 0;
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
}


.active{
    width: calc(100% - 80px);
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
}

.sidebar-item .fa-solid{
    margin-right: 30px;
}

.sidebar-footer .sidebar-item .fa-solid{
    margin-right: 10px;
}