#table_search, #table_search2, #table_search3, #table_search4{    
    background: rgb(236, 236, 236) !important; 
    width: 100% !important; 
    position: relative;
  }
.content-table{
    max-height: 150px;
    overflow-y: visible;
    overflow-x: hidden;
    position: relative;
  }
  .content-search,.content-search2,.content-search3,.content-search4{
    position: fixed;
    width: 40%; 
    
  }
  .content-table .pagination,.content-table .dataTables_info, .content-table .dataTables_filter, .content-table .dataTables_length{
    display: none !important;
  }
.icono {
    position: relative;
  }
  .icono .fas {
    position: absolute;
    padding: 12px 17px;
    pointer-events: none;
    display: block;
    transition: all linear 0.5s;
  }
.sidebar{
    height: 100vh;
}
.sidebar-footer{
    position: absolute;
    
}

.contenido-principal{
    position: absolute;
    width: calc(100% - 270px);
    right: 0;
    top: 0;
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
}


.active{
    width: calc(100% - 80px);
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
}

.sidebar-item .fa-solid{
    margin-right: 30px;
}

.sidebar-footer .sidebar-item .fa-solid{
    margin-right: 10px;
}